* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

/* body {
    height: 100vh;
} */

.bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    /* opacity: 0.75; */
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
    font-size: 1.25rem;
}

a:hover {
    color: orange;
}

/* HEADER */
header {
    position: relative;
    padding: 0 2rem;
}

.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links {
    display: flex;
    gap: 2rem;
}

.navbar .toggle-btn {
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action-btn {
    background-color: orange;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}

.action-btn:hover {
    scale: 1.05;
    color: white;
}

.action-btn:active {
    scale: 0.95;
}

/* DROPDOWN MENU */
.dropdown-menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown-menu.open {
    height: 260px;
}

.dropdown-menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown-menu .action-btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

.content {
    margin: auto;
    max-width: 980px;
    padding: 64px 16px;
}

.content li {
    list-style: disc;
    margin-left: 40px;
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

/* HERO */
section#hero {
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

#hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.social {
    font-size: 36px;
    text-decoration: none;
    margin: 10px;
    transition: 0.2s;
    /* color: black; */
}

.social:hover {
    color: orange;
}

.bgimg-1 {
    background-image: url('./images/bg_mountain.jpg');
    min-height: 100%;
}

/* ABOUT */
section#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#about h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

#about p {
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

/* WORK EXPERIENCE */
section#work {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bgimg-2 {
    background-image: url('./images/bg_gamcheon.jpg');
    min-height: 400px;
}

section#ubc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#ubc p {
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

section#verathon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#verathon p {
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

/* TECHNICAL PROJECTS */
section#projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bgimg-3 {
    background-image: url('./images/bg_starfield.jpg');
    min-height: 400px;
}

section#capstone {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#capstone p {
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

#capstone a {
    color: black;
}

section#quantum {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#quantum h2 {
    text-align: center;
}

#quantum p {
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

#quantum a {
    color: black;
}

section#uss {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#uss p {
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

#uss a {
    color: black;
}

/* SKILLS */
.skills {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    gap: 1rem;
}

.skills div:last-child {
    margin-left: auto;
}

.skill {
    background-color: rgba(255, 165, 0, 0.3);
    color: black;
    padding: 0.5rem 1rem;
    border: 2px solid orange;
    outline: none;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: bold;
}

.skill:hover {
    background-color: rgba(255, 165, 0, 0.5);
}

/* FOOTER */
footer {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
}

/* RESPONSIVE DESIGN */
@media (max-width: 992px) {
    .navbar .links {
    /* .navbar .action-btn { */
        display: none;
    }

    .navbar .toggle-btn {
        display: block;
    }

    .dropdown-menu {
        display: block;
    }
}

@media (max-width: 576px) {
    .dropdown-menu {
        left: 2rem;
        width: unset;
    }
}