body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
    height: 100%;
    color: black;
    line-height: 1.8;
}

.bgimg-1 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgimg-1 {
    background-image: url('mountain.JPG');
    min-height: 100%;
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

.w3-top {
    border-bottom: 1px solid black;
}

.w3-button {
    font-weight: bold;
}

.w3-button:hover {
    font-weight: bold;
    background-color: none;
}

.social {
    font-size: 36px;
    text-decoration: none;
    margin: 0 10px;
    transition: 0.2s;
}

.social:hover {
    color: gray;
}